@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.conteudo{
    display: flex;
    align-items: center;
}

.destaque{
    color: #22D4FD;
}

a{
    text-decoration: none;
    color: black;
    padding: 100x;
    border-radius: 16px;
    background-color: #22D4FD;
}